<h1>New Entry</h1>

<form action="/entries" method="post">
  <p>
    <label for="title_input">Title</label>
    <input type="text" name="title" id="title_input">
  </p>

  <p>
    <label for="description_input">Description</label>
    <input type="text" name="description" id="description_input">
  </p>

  <p>
    <label for="posted_on_input">Posted on</label>
    <input type="date" name="posted_on" id="posted_on_input">
  </p>

<input type="hidden" name="place_id" value="<%= @place["name"] %>"id="place_id_input">

<button>Submit</button>

</form>